[submodule "src/pcm"]
	path = src/pcm
	url = git@github.com:opcm/pcm.git
[submodule "src/spdlog"]
	path = src/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "src/pybind11"]
	path = src/pybind11
	url = git@github.com:pybind/pybind11.git
