[submodule "src/pcm"]
	path = src/pcm
	url = https://github.com/opcm/pcm.git
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/FastPFor"]
	path = src/FastPFor
	url = https://github.com/amaya382/FastPFor.git
